/* Color cube */
/* white: #ffffff */
$tuna: #353841;
$burnt_sienna: #ed6864;
$french_gray: #bababc;
$jumbo: #78787b;
$goldenrod: #fcd66c;
$tabasco: #92340f;

/* Median cut */
$rose_fog: #ebcac5;
$tuna_mc: #3e3f47;
$makara: #8d7c6d;
$edward: #a1aba9;
$regent_gray: #8c9aa5;

/* Material design */
$burnt_sienna_vibrant: #ea6862;
$gray_chateau: #a2abae;
$sambuca: #3d2512;
$thunder: #171216;
$putty: #e9c899;
